.swiper-layout {
  position: relative;

  display: flex;
}

.swiper-viewport-wrapper {
  display: flex;
  gap: var(--spacing-2x);
}

.swiper-element-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 45px;

  border-radius: 100px;
  border: 1px solid var(--color-border-default);

  transition: background-color 0.2s ease-in, border-color 0.2s ease-in,
    color 0.2s ease-in;

  &:hover {
    background-color: var(--color-bg-hover);
    border-color: var(--color-bg-hover);
  }

  &.element-selected {
    color: var(--color-highlight);
    background-color: var(--color-bg-hover);
  }
}

.swiper-arrow-left,
.swiper-arrow-right {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  padding-left: var(--spacing-6x);
  padding-right: var(--spacing-6x);

  transition: box-shadow 0.2s ease-in;
}

.swiper-arrow-left {
  right: 100%;
  top: 0px;

  box-shadow: 20px 0px 25px rgb(255, 255, 255);
}

.swiper-arrow-right {
  left: 100%;
  top: 0px;

  box-shadow: -20px 0px 15px rgb(255, 255, 255);
}

.swiper-arrow-disabled {
  opacity: 0.4;
  cursor: default;
  box-shadow: none;
}
