.days-swiper-layout {
  display: flex;
  align-items: end;
  justify-content: center;

  width: 300px;
}

.day-element-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 64px;
  height: 64px;

  padding: var(--spacing-2x) 0;
  margin-top: 20px;

  border-radius: var(--radius-1x);
  border: 1px solid var(--color-border-default);

  .month-name {
    position: absolute;

    top: -20px;
    left: 0;
  }
}

.arrow-wrapper {
  display: flex;

  height: 64px;
}
