.main-layout {
  position: relative;
  background-color: #f29b18;
}

.booking-section {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100dvh;
  max-width: max-content;
  margin: 0 auto;

  @media (max-width: 480px) {
    justify-content: end;
  }
}
